<main>
    <div class="py-5 text-center">

        <h2>Payer en toute confiance</h2>

    </div>

    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last" *ngIf="paiement">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Votre panier</span>
                <span class="badge bg-primary rounded-pill">{{paiement.details.length}}</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm"
                    *ngFor="let detail of paiement.details">
                    <div>
                        <h6 class="my-0">{{detail.id_service.designation}}</h6>
                        <!-- <small class="text-muted">ID du service : {{detail.id_service}}</small> -->
                    </div>
                    <span class="text-muted">{{detail.montant}} Ar</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (Ar)</span>
                    <strong>{{paiement.montant_total}}</strong>
                </li>
            </ul>
        </div>



        <div class="col-md-7 col-lg-8">
            <form class="needs-validation" novalidate="">




                <hr class="my-4">

                <h4 class="mb-3">Payement par carte <img src="/assets/images/visa.png" width="90px" height="50px" alt=""> </h4>

                <div class="my-3">
                    <div class="form-check">
                        <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked=""
                            required="">
                        <label class="form-check-label" for="credit">Credit card</label>
                    </div>


                </div>

                <div class="row gy-3">
                    <div class="col-md-6">
                        <label for="cc-name" class="form-label">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="cc-number" class="form-label">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="cc-expiration" class="form-label">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="cc-cvv" class="form-label">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <button class="btn btn-primary" (click)="validerPaiement()">Valider le paiement</button>

            </form>
        </div>
    </div>
</main>