<!-- ======= About Us Section ======= -->

<!-- Modal content -->
<ng-template #content let-modal>
    <div class="modal-header">

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <ng-container *ngIf="modalContent === 'favoris'">

            <div *ngIf="!isUserLoggedIn" class="d-flex flex-column justify-content-center align-items-center">
                <h2 class="modal-title error_font  logo" style=" text-align: center;">Information</h2>
                <p style="padding: 50px; font-weight: bold; font-family: fangsong; text-align: center;">
                    "Pour une meilleure expérience utilisateur,<br> veuillez vous connecter afin
                    d'ajouter ceci à vos favoris."
                </p>
            </div>


            <div *ngIf="isUserLoggedIn" class="d-flex flex-column justify-content-center align-items-center">
                <h2 class="modal-title success_font  logo" style=" text-align: center;">Préférence</h2>


                <div class="card custom-card">
                    <img [src]="'data:image/png;base64,' + passedService.image" class="card-img-top custom-card-img"
                        alt="Service Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ passedService.designation }}</h5>
                        <p class="card-text">{{ passedService.description }}</p>

                    </div>
                </div>


            </div>


        </ng-container>

    </div>
</ng-template>




<section id="why-us" class="why-us ">
    <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
            <h2>About Us</h2>
        </div>

        <div class="row">

            <div class="col-lg-8 d-flex flex-column justify-content-center align-items-stretch  order-1 order-lg-2">

                <div class="content">
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident,
                        sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>

                <div class="accordion-list">

                </div>

            </div>

            <div class="col-lg-4 align-items-stretch order-2 order-lg-1 img"
                style='background-image: url("assets/pngegg(4).png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->






<div id="services" class="services section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2> Services</h2>
            <p>Découvrez nos prestations de beauté, conçues pour améliorer votre apparence naturelle. Des soins
                capillaires
                aux traitements cosmétiques, nous offrons un environnement confortable pour vous détendre et vous
                épanouir.</p>
        </div>

        <div class="row">
            <ng-container *ngIf="displayedServices.length > 0; else emptyList">
                <ng-container *ngFor="let service of displayedServices">
                    <div class="col-xl-3 col-md-6 mb-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="card custom-card">
                            <img [src]="'data:image/png;base64,' + service.image" class="card-img-top custom-card-img"
                                alt="Service Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ service.designation }}</h5>
                                <p class="card-text">{{ service.description }}</p>
                                <div class="favorite-icon">

                                    <!-- si favoris
                                <i class="bi bi-heart-fill"></i>
                                sinon -->
                                    <i nzTooltipTitle="Ajouter aux favoris." nzTooltipPlacement="top" nz-button
                                        nz-tooltip class="bi bi-heart i-heart"
                                        (click)="openModal('favoris',  service )"></i>










                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <button *ngIf="itemsToShow < services.length" (click)="showMoreServices()"
                class="btn btn-primary rounded-pill px-2 py-2 mt-4">
                Afficher plus
            </button>

            <ng-template #emptyList>
                <nz-spin class="loading-container" [nzSize]="'large'" *ngIf="isLoading"></nz-spin>
            </ng-template>
        </div>





    </div>
</div>









<!-- ======= Pub video  ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <div class="section-title">
                <h2>Découvrez Notre Salon de Beauté</h2>
                <p>Explorez nos vidéos exclusives qui capturent l'essence de notre salon de beauté. Chacune de ces
                    vidéos est
                    soigneusement créée pour vous offrir un aperçu authentique de notre ambiance, de nos services
                    exceptionnels,
                    et de l'expérience unique que nous offrons. Nous sommes fiers de partager notre univers avec vous.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rtlu3k_FhKs" frameborder="0"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iYGOpUSbi7Q" frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

</section><!-- End Team Section -->



<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Notre Équipe</h2>
            <p>Découvrez les visages passionnés qui donnent vie à notre salon de beauté. Chacun de nos employés apporte
                son
                expertise unique, sa créativité et son dévouement pour offrir à nos clients une expérience
                exceptionnelle. Nous
                sommes bien plus qu'une équipe ; nous sommes une famille unie par la passion de la beauté et du
                bien-être.</p>
        </div>

        <div class="row">
            <ng-container *ngIf="employee.length > 0; else emptyListEpm">
                <div *ngFor="let employee of employee" class="col-lg-6  mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>{{employee.id_utilisateur.nom}}</h4>
                            <span>{{employee.id_utilisateur.prenom}}</span>
                            <p>Rejoignez-nous dans l'univers de la beauté, où chaque membre de notre équipe est dédié à
                                créer
                                des expériences uniques et à vous faire sentir exceptionnel. Avec une passion commune
                                pour
                                l'innovation et la satisfaction du client, nous sommes fiers de vous offrir des services
                                personnalisés et de qualité.</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>


            <ng-template #emptyListEpm>
                <nz-spin class="loading-container" [nzSize]="'large'" *ngIf="isLoading"></nz-spin>
            </ng-template>

        </div>



    </div>
</section><!-- End Team Section -->





<section id="cta" class="cta">
    <div class="container aos-init aos-animate" data-aos="zoom-in">

        <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
                <h3>Call To Action</h3>
                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.
                </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div>
        </div>

    </div>
</section>


<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Prise de rendez vous</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p></p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55s</p>
                    </div>
                    <!-- 
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                        src="https://www.google.com/maps/place/IT+University/@-18.9835164,47.5354891,16z/data=!4m6!3m5!1s0x21f07bf95431f83d:0x7edb4de9ebd72707!8m2!3d-18.9859998!4d47.5327977!16s%2Fg%2F11b6b5gyfy?entry=ttu"
                        frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.339559558006!2d47.5327977!3d-18.9859998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x21f07bf95431f83d%3A0x7edb4de9ebd72707!2sIT%20University!5e0!3m2!1sen!2smg!4v1647655338804!5m2!1sen!2smg"
                        frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen>
                    </iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea class="form-control" name="message" rows="10" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container footer-bottom clearfix">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 footer-contact">
                    <h3>Arsha</h3>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>

                    </p>
                </div>

                <div class="col-lg-6 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>



            </div>
        </div>
    </div>

</footer><!-- End Footer -->