<main>
    <div class="container-fluid">
        <!-- Vérifiez si des images sont disponibles -->
        @if (images) {
        <ngb-carousel [interval]="2000" class="d-flex">
            <!-- Premier diaporama -->
            <ng-template ngbSlide>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 mt-2">
                            <h1 class="banner_taital">Beauty<br> Soa</h1>
                            <p class="banner_text">Détendez-vous et offrez-vous un moment de bien-être.<br> Notre salon
                                de beauté vous
                                propose des soins de qualité pour prendre soin de votre peau et de votre esprit.</p>
                            <div class="read_bt"><a href="#">Acheter maintenant</a></div>
                        </div>
                        <div class="col-sm-3">
                            <img [src]="images[0]" alt="Premier diaporama aléatoire" class="img-fluid animated" />
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Deuxième diaporama -->
            <ng-template ngbSlide>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 mt-2">
                            <h1 class="banner_taital">Beauty <br> Soa</h1>
                            <p class="banner_text">Laissez-vous choyer par nos experts en beauté. <br>Nous offrons des
                                traitements
                                personnalisés pour sublimer votre apparence <br> et vous faire sentir bien dans votre
                                peau.</p>
                            <div class="read_bt"><a href="#">Acheter maintenant</a></div>
                        </div>
                        <div class="col-sm-3">
                            <img [src]="images[1]" alt="Deuxième diaporama aléatoire" class="img-fluid animated" />
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Troisième diaporama -->
            <ng-template ngbSlide>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 mt-2">
                            <h1 class="banner_taital">Beauty <br> Soa</h1>
                            <p class="banner_text">Découvrez l'expérience ultime de beauté et de détente.<br> Notre
                                salon offre une
                                gamme
                                de services, de la coiffure aux soins du visage,<br> pour vous aider à rayonner de
                                beauté naturelle.</p>
                            <div class="read_bt"><a href="#">Acheter maintenant</a></div>
                        </div>
                        <div class="col-sm-3">
                            <img [src]="images[2]" alt="Troisième diaporama aléatoire" class="img-fluid animated" />
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
        }
    </div>
</main>


<div class="product_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="product_taital">Our Products</h1>
                <p class="product_text">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud
                    exercitation</p>
            </div>
        </div>
        <div class="product_section_2 layout_padding">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-1.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-2.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-3.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-4.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-5.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-6.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-7.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-8.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-9.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-10.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-11.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="assets/images/img-12.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seemore_bt"><a href="#">See More</a></div>
        </div>
    </div>
</div>
<!-- product section end -->
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="about_section_main">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_taital_main">
                        <h1 class="about_taital">About Our beauty sotore</h1>
                        <p class="about_text">labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequatlabore et dolore magna aliqua. Ut
                            enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequatlabore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip
                            ex ea commodo consequat</p>
                        <div class="readmore_bt"><a href="#">Read More</a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div><img src="assets/images/about-img.png" class="image_3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->
<!-- customer section start -->
<div class="customer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="customer_taital">What says customers</h1>
            </div>
        </div>
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_section_2">
                        <div class="client_main">
                            <div class="client_left">
                                <div class="client_img"><img src="assets/images/client-img.png"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="name_text">Jonyro</h3>
                                <p class="dolor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation eu </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_section_2">
                        <div class="client_main">
                            <div class="client_left">
                                <div class="client_img"><img src="assets/images/client-img.png"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="name_text">Jonyro</h3>
                                <p class="dolor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation eu </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_section_2">
                        <div class="client_main">
                            <div class="client_left">
                                <div class="client_img"><img src="assets/images/client-img.png"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="name_text">Jonyro</h3>
                                <p class="dolor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation eu </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- customer section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="contact_taital">Get In Touch</h1>
                <p class="contact_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation eu </p>
            </div>
            <div class="col-md-6">
                <div class="contact_main">
                    <div class="contact_bt"><a href="#">Contact Form</a></div>
                    <div class="newletter_bt"><a href="#">Newletter</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="map_main">
        <div class="map-responsive">
            <iframe
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
                width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<!-- contact section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="footer_logo"><a href="index.html"><img src="assets/images/footer-logo.png"></a></div>
        <div class="contact_section_2">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="address_text">Contact Us</h3>
                    <div class="address_bt">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i><span
                                        class="padding_left10">Address : Loram
                                        Ipusm</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left10">Call :
                                        +01
                                        1234567890</span>
                                </a>
                            </li>
                            <li>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer_logo_1"><a href="index.html"><img src="assets/images/footer-logo.png"></a></div>
                    <p class="dummy_text">commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
                </div>
                <div class="col-sm-4">
                    <div class="main">
                        <h3 class="address_text">Best Products</h3>
                        <p class="ipsum_text">dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="social_icon">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free html
                Templates</a></p>
    </div>
</div>