<main>
    <div class="container-fluid">
        <!-- Vérifiez si des images sont disponibles -->
        @if (images) {
        <ngb-carousel [interval]="2000" class="d-flex">
            <!-- Premier diaporama -->
            <ng-template ngbSlide>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 mt-2">
                            <h1 class="banner_taital">Beauty<br> Soa</h1>
                            <p class="banner_text">Détendez-vous et offrez-vous un moment de bien-être.<br> Notre salon
                                de beauté vous
                                propose des soins de qualité pour prendre soin de votre peau et de votre esprit.</p>
                            <div class="read_bt"><a href="#">Acheter maintenant</a></div>
                        </div>
                        <div class="col-sm-3">
                            <img [src]="images[0]" alt="Premier diaporama aléatoire" class="img-fluid animated" />
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Deuxième diaporama -->
            <ng-template ngbSlide>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 mt-2">
                            <h1 class="banner_taital">Beauty <br> Soa</h1>
                            <p class="banner_text">Laissez-vous choyer par nos experts en beauté. <br>Nous offrons des
                                traitements
                                personnalisés pour sublimer votre apparence <br> et vous faire sentir bien dans votre
                                peau.</p>
                            <div class="read_bt"><a href="#">Acheter maintenant</a></div>
                        </div>
                        <div class="col-sm-3">
                            <img [src]="images[1]" alt="Deuxième diaporama aléatoire" class="img-fluid animated" />
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Troisième diaporama -->
            <ng-template ngbSlide>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 mt-2">
                            <h1 class="banner_taital">Beauty <br> Soa</h1>
                            <p class="banner_text">Découvrez l'expérience ultime de beauté et de détente.<br> Notre
                                salon offre une
                                gamme
                                de services, de la coiffure aux soins du visage,<br> pour vous aider à rayonner de
                                beauté naturelle.</p>
                            <div class="read_bt"><a href="#">Acheter maintenant</a></div>
                        </div>
                        <div class="col-sm-3">
                            <img [src]="images[2]" alt="Troisième diaporama aléatoire" class="img-fluid animated" />
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
        }
    </div>
</main>