nz-radio-group {
    margin-bottom: 8px;
}

[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}


.picsum-img-wrapper {
    float: right;
}

main {
    background: url('../../assets/0.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 10px;
}



/* Styles CSS */
.align-left {
    text-align: left;
    color: #000;
    margin: 20px 0px;
}




@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated {
    animation: fadeIn 2s ease-in-out;
}




.col-sm-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    /* Ensures the image does not overflow its container */
    height: 448px;
    /* Keeps the aspect ratio of the image */
}