<div class="footer_section layout_padding">
    <div class="container">
        <div class="footer_logo"><a href="index.html"><img src="assets/images/footer-logo.png"></a></div>
        <div class="contact_section_2">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="address_text">Nous Contacter</h3>
                    <div class="address_bt">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i><span
                                        class="padding_left10">Adresse : Rue Andoharanofotsy</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left10">Téléphone
                                        : +261345290998</span>
                                </a>
                            </li>
                            <li>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer_logo_1"><a href="index.html"><img src="assets/images/footer-logo.png"></a></div>
                    <p class="dummy_text">Nous sommes spécialisés dans la fourniture de produits de haute qualité.</p>
                </div>
                <div class="col-sm-4">
                    <div class="main">
                        <h3 class="address_text">Meilleurs Produits</h3>
                        <p class="ipsum_text">Notre gamme de produits comprend une variété de produits hautement
                            qualitatifs.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="social_icon">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">Conçu par Raherinjato Andriamarosoa et Ranarilala Toavina Mario - ETU : 001262,
            000936
        </p>
    </div>
</div>