<div class="section-title">
    <h2>Saisie service</h2>

</div>
<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <nz-form-item>
        <!-- <nz-form-label [nzSpan]="7" nzRequired>Designation</nz-form-label> -->
        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nomErrorTpl">
            <input type="text" nz-input formControlName="designation" placeholder="Désignation" />
            <ng-template #nomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez saisir votre nom!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <!-- <nz-form-label [nzSpan]="7" nzRequired>Prix</nz-form-label> -->
        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nomErrorTpl">
            <input type="number" nz-input formControlName="prix" placeholder="Prix" />
            <ng-template #nomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez saisir votre prix!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <!-- <nz-form-label [nzSpan]="7" nzRequired>Duree</nz-form-label> -->
        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nomErrorTpl">
            <input type="number" nz-input formControlName="duree" placeholder="Durée" />
            <ng-template #nomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez saisir votre duree!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>



    <nz-form-item>
        <!-- <nz-form-label [nzSpan]="7" nzRequired>Commission</nz-form-label> -->
        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nomErrorTpl">
            <input type="number" nz-input formControlName="commission_pourcentage"
                placeholder="commission_pourcentage" />
            <ng-template #nomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez saisir votre duree!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <!-- 
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>File</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nomErrorTpl">
            <input type="file" id="file" (change)="onFileSelected($event)" class="form-control-file" required />
            <ng-template #nomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez choisir un image!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>Image </nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nomErrorTpl" class="custom-file-upload">
            <input type="file" id="file" (change)="onFileSelected($event)" class="form-control-file" required />
            <label for="file" class="custom-file-upload-btn">
                <i class="bi bi-cloud-upload"></i> Choisir un fichier
            </label>
            <ng-template #nomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez choisir une image!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>




    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block ghost-button" [disabled]="!serviceForm.valid">
            <span *ngIf="!loading">Create Service</span>
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
    </div>


</form>