[nz-form] {
    max-width: 800px;
}

button {
    margin-left: 8px;
}

form {
    max-width: 400px;
    /* Ajustez la largeur maximale selon vos besoins */
    margin: auto;
    /* Centre le formulaire horizontalement */
    padding: 20px;
    /* Ajoute un espace intérieur pour une meilleure apparence */
}

h2 {
    max-width: 400px;
    /* Ajustez la largeur maximale selon vos besoins */
    margin: auto;
    /* Centre le formulaire horizontalement */
    padding: 20px;
}

/* Ajoutez des styles supplémentaires selon vos besoins */