<h1>Listes des taches</h1>

<div class="row">
    <div class="col-lg-6">

        <div class="container" cdkDropList id="todo" [cdkDropListConnectedTo]="['done']" [cdkDropListData]="todo"
            (cdkDropListDropped)="drop($event)" style="border: 1px solid black; padding: 10px;">
            <h2>To do</h2>
            <div class="item" cdkDrag *ngFor="let item of todo">
                <nz-ribbon nzText="Cree">
                    <nz-card nzTitle="Tickets fanandramana beetay" nzSize="small">{{item.date_debut}}

                        <button type="button" class="btn btn-outline-secondary me-2 " placement="top"
                            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            popoverTitle="Details">
                            +
                        </button>
                    </nz-card>
                </nz-ribbon>
            </div>
        </div>
    </div>

    <div class="col-lg-6">

        <div class="container" cdkDropList id="done" [cdkDropListConnectedTo]="['todo']" [cdkDropListData]="done"
            (cdkDropListDropped)="drop($event)" style="border: 1px solid black; padding: 10px;">
            <h2>Done</h2>
            <div class="item" cdkDrag *ngFor="let item of done">
                <nz-ribbon nzText="Terminee" nzColor="green">
                    <nz-card nzTitle="Tickets fanandramana beetay" nzSize="small">{{item.date_debut}}


                        <button type="button" class="btn btn-outline-secondary me-2 " placement="top"
                            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            popoverTitle="Details">
                            +
                        </button>
                    </nz-card>

                </nz-ribbon>

            </div>
        </div>
    </div>
</div>