<!-- <h1>Liste Service</h1> -->
<div class="section-title">
    <!-- <h2>Liste des comissions</h2> -->
    <h2>Listes des services</h2>

</div>
<nz-spin [nzSpinning]="isLoading" [nzTip]="'Chargement en cours...'">
    <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" *ngIf="!isLoading">
        <thead>
            <tr>
                <th nzCustomFilter>
                    Designation
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
                        [nzDropdownMenu]="menu">
                        <span nz-icon nzType="search"></span>
                    </nz-filter-trigger>
                </th>
                <th>Prix</th>
                <th>Duree</th>
                <th>Commission Pourcentage</th>
                <th>Date Insertion</th>
                <th>Etat</th>
                <th>Action</th>
                <!-- <th>-+++++++++++++++Image</th> -->
            </tr>
        </thead>
        <!-- <nz-spin class="loading-container" [nzSize]="'large'" *ngIf="isLoading"> -->

        <tbody>
            <tr *ngFor="let data of listOfDisplayData">
                <td>{{ data.designation }}</td>
                <td>{{ data.prix }}</td>
                <td>{{ getFormattedDuration(data.duree) }}</td>
                <td>{{ data.commission_pourcentage }}%</td>
                <td>{{ data.date_insertion | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ data.etat }}</td>
                <!-- <td>{{ data.image }}</td> -->
                <td>
                    <button class="btn btn-danger" (click)="deleteService(data._id)">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Search designation" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>