<header id="header" class="fixed-top" [class.small-header]="isSmallHeader">
    <div class="container d-flex align-items-center">
        <img class="logoImg" src="assets/logo/logo.png" alt="">
        <h1 class="logo me-auto sacramento-regular">
            <a href="index.html">Beauty Place</a>
        </h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#spot">Spot</a></li>
                <!-- <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li> -->
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
                <i *ngIf="isSmallScreen" class="bi bi-list mobile-nav-toggle" (click)="open(content)"></i>
                <li *ngIf="isUserLoggedIn" class="dropdown">
                    <a href="#">
                        <i class="bi bi-bell custom-icon-size"></i>
                    </a>
                    <ul>
                        <li class="d-flex align-items-center">
                            <a href="#" class="d-flex align-items-center">
                                <i class="bi bi-alarm"></i>
                                <span class="ms-2">Rendez-vous dans 2 jours</span>
                            </a>
                        </li>

                        <li class="d-flex align-items-center">
                            <a href="#" class="d-flex align-items-center">
                                <i class="bi bi-alarm"></i>
                                <span class="ms-2">Rendez-vous dans 2 jours</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li *ngIf="isUserLoggedIn" [routerLink]="['/client/rendezvous/list']">
                    <a class="nav-link">
                        <i class="bi bi-person-circle custom-icon-size"></i>
                    </a>
                </li>
                <li>
                    <ng-container *ngIf="isUserLoggedIn; else loginBanner">
                        <a class="logout scrollto" (click)="logout()">Déconnexion</a>
                    </ng-container>
                    <ng-template #loginBanner>
                        <banner-login></banner-login>
                    </ng-template>
                </li>
            </ul>




            <i *ngIf="isSmallScreen" class="bi bi-list mobile-nav-toggle" (click)="open(content)"></i>

            <ng-template #content let-offcanvas>
                <div class="offcanvas-header">
                    <img class="logoImg" src="assets/logo/logo.png" alt="">
                    <h1 class="logo me-auto sacramento-regular">
                        <a href="index.html">Beauty Fly</a>
                    </h1>
                    <button type="button" class="btn-close" aria-label="Close"
                        (click)="offcanvas.dismiss('Cross click')"></button>
                </div>
                <div class="offcanvas-body ">
                    <div class="d-flex align-items-center navMobilecontainer">
                        <ul>
                            <li [routerLink]="['/client/rendezvous/list']">
                                <a class="nav-link">
                                    <i class="bi bi-person-circle custom-icon-size"></i>
                                    <span> Profil</span>
                                </a>
                            </li>
                            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                            <li><a class="nav-link scrollto" href="#about">About</a></li>
                            <li><a class="nav-link scrollto" href="#services">Services</a></li>
                            <!-- <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li> -->
                            <li><a class="nav-link scrollto" href="#team">Team</a></li>
                            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                            <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->


                            <div class="alignerCote">


                                <li id="navbar" class="navbar">
                                    <div></div>
                                    <banner-login></banner-login>

                                </li>
                            </div>


                        </ul>
                    </div>
                    <!-- Mobile Navigation Toggle -->


                </div>
            </ng-template>

            <!-- <button *ngIf="isSmallScreen" class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo offcanvas</button> -->





        </nav><!-- .navbar -->
    </div>

</header><!-- End Header -->