<header id="header" class="fixed-top" [class.small-header]="isSmallHeader">
    <div class="container d-flex align-items-center">
        <img class="logoImg" src="assets/logo/logo.png" alt="">
        <h1 class="logo me-auto sacramento-regular">
            <a href="index.html">Beauty Fly</a>
        </h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <!-- <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li> -->
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->

                <li class="dropdown">
                    <a href="#">
                        <i class="bi bi-bell custom-icon-size"></i>
                    </a>
                    <ul>
                        <li class="d-flex align-items-center">
                            <a href="#" class="d-flex align-items-center">
                                <i class="bi bi-alarm"></i>
                                <span class="ms-2">Rendez-vous dans 2 jours</span>
                            </a>
                        </li>

                        <li class="d-flex align-items-center">
                            <a href="#" class="d-flex align-items-center">
                                <i class="bi bi-alarm"></i>
                                <span class="ms-2">Rendez-vous dans 2 jours</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li [routerLink]="['/client/espaceClient']">
                    <a class="nav-link">
                        <i class="bi bi-person-circle custom-icon-size"></i>
                    </a>
                </li>
                <li>
                    <banner-login></banner-login>
                </li>
            </ul>




            <i *ngIf="isSmallScreen" class="bi bi-list mobile-nav-toggle" (click)="toggleMobileNav()"></i>

            <ul class="mobile-nav" *ngIf="isSmallScreen && isMobileNavOpen">
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <!-- ... Ajoutez d'autres liens ... -->

                <li class="dropdown">
                    <a href="#">
                        <i class="bi bi-bell custom-icon-size"></i>
                    </a>
                    <ul>
                        <li class="d-flex align-items-center">
                            <a href="#" class="d-flex align-items-center">
                                <i class="bi bi-alarm"></i>
                                <span class="ms-2">Rendez-vous dans 2 jours</span>
                            </a>
                        </li>

                        <li class="d-flex align-items-center">
                            <a href="#" class="d-flex align-items-center">
                                <i class="bi bi-alarm"></i>
                                <span class="ms-2">Rendez-vous dans 2 jours</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- ... Ajoutez d'autres liens ... -->

                <li [routerLink]="['/client/espaceClient']">
                    <a class="nav-link">
                        <i class="bi bi-person-circle custom-icon-size"></i>
                    </a>
                </li>
                <li>
                    <banner-login></banner-login>
                </li>
            </ul>





        </nav><!-- .navbar -->
    </div>

</header><!-- End Header -->