.logoImg {
    max-width: 100px;
    /* Adjust the max-width as needed */
    height: auto;
    margin-right: 10px;
    /* Add some margin between the logo and the heading */
}

.small-header {
    height: 65px;
    /* Set the desired height for the smaller header */
    background-color: #fff;
    /* Set the background color for the smaller header */
transition: height 0.9s ease-in-out, background-color 0.9s ease-in-out;
    /* Add a smooth transition effect */
}

.small-header .logoImg {
    max-width: 45px;
    transition: color 0.5s ease-in-out;
    /* Adjust the logo size for the smaller header */
}
.small-header h1 a {
    color: transparent;
    transition: color 0.5s ease-in-out;
    /* Slower transition effect for text color */
}