<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Beauty Fly Control Panel</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu [nzOpen]="true" nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item [routerLink]="['/manager/chart']">
            <span nz-icon nzType="file"></span>
            <span>Chart</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/service/add']">
            <span nz-icon nzType="file"></span>
            <span>Moyenne de travail</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/service']">
            <!-- Liste -->
            <span nz-icon nzType="file"></span>
            <span>Réservation</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/service']">
            <!-- Liste -->
            <span nz-icon nzType="file"></span>
            <span>Chiffre d’affaires</span>
          </li>

          <li nz-menu-item [routerLink]="['/manager/drag']">
            <!-- Liste -->
            <span nz-icon nzType="file"></span>
            <span>Taches</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/commission']">
            <!-- Liste -->
            <span nz-icon nzType="file"></span>
            <span>Commissions</span>
          </li>
        </ul>
      </li>
      <li nz-submenu [nzOpen]="false" nzTitle="Finance" nzIcon="dashboard">
        <ul>
          <li nz-menu-item [routerLink]="['/manager/service/add']">
            <span nz-icon nzType="file"></span>
            <span>Entrer</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/service']">
            <!-- Liste -->
            <span nz-icon nzType="file"></span>
            <span>Sortie</span>
          </li>
        </ul>
      </li>
      <li nz-submenu [nzOpen]="false" nzTitle="Personnel & Client" nzIcon="dashboard">
        <ul>
          <li nz-menu-item [routerLink]="['/manager/addUtilisateur']">
            <span nz-icon nzType="file"></span>
            <span>Ajout Utilisateur</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="file"></span>
            <span>Liste Client</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/employee']">
            <span nz-icon nzType="file"></span>
            <span>Liste Personnel</span>
          </li>
        </ul>
      </li>
      <li nz-submenu [nzOpen]="false" nzTitle="Gestion Service" nzIcon="form">
        <ul>
          <li nz-menu-item [routerLink]="['/manager/service/add']">
            <span nz-icon nzType="file"></span>
            <span>Ajout</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/service']">
            <!-- Liste -->
            <span nz-icon nzType="file"></span>
            <span>Liste</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>


    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'bars' : 'bars'"></span>
        </span>



        <span class="notification-icon">
          <span class="trigger">
            <i class="bi bi-bell"></i>

            <span class="badge" *ngIf="showNotif">1</span>
          </span>
        </span>



      </div>
    </nz-header>




    <nz-content>
      <div class="inner-content" style="height: auto;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>