<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Beauty Fly Control Panel</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu [nzOpen]="true" nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item [routerLink]="['/manager/service/add']">
            <span nz-icon nzType="file"></span>
            <span>Chart</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/service/add']">
            <span nz-icon nzType="file"></span>
            <span>Moyenne de travail</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/service']">
            <!-- Liste -->
            <span nz-icon nzType="file"></span>
            <span>Réservation</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/service']">
            <!-- Liste -->
            <span nz-icon nzType="file"></span>
            <span>Chiffre d’affaires</span>
          </li>
        </ul>
      </li>
      <li nz-submenu [nzOpen]="false" nzOpen nzTitle="Finance" nzIcon="dashboard">
        <ul>
          <li nz-menu-item [routerLink]="['/manager/service/add']">
            <span nz-icon nzType="file"></span>
            <span>Entrer</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/service']">
            <!-- Liste -->
            <span nz-icon nzType="file"></span>
            <span>Sortie</span>
          </li>
        </ul>
      </li>
      <li nz-submenu [nzOpen]="false" nzOpen nzTitle="Personnel & Client" nzIcon="dashboard">
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-submenu nzTitle="Client" nzIcon="user">
            <ul>
              <li nz-menu-item>Ajout</li>
              <li nz-menu-item>Liste</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Employee" nzIcon="team">
            <ul>
              <li nz-menu-item>Ajout</li>
              <li nz-menu-item>Liste</li>
            </ul>
          </li>
          
        </ul>
      </li>
      <li nz-submenu [nzOpen]="false" nzTitle="Gestion Service" nzIcon="form">
        <ul>
          <li nz-menu-item [routerLink]="['/manager/service/add']">
            <span nz-icon nzType="file"></span>
            <span>Ajout</span>
          </li>
          <li nz-menu-item [routerLink]="['/manager/service']">
            <!-- Liste -->
            <span nz-icon nzType="file"></span>
            <span>Liste</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'bars' : 'bars'"
          ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
