<div class="d-flex justify-content-center justify-content-lg-start myindex">
    <!-- <button nz-button class="btn-get-started scrollto custom-padding" nzGhost (click)="showModal()">
        Se Connecter <br>
    </button> -->
    <a class="getstarted scrollto" (click)="showModal()">Se connecter</a>

    <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkText]="null"
        [nzCancelText]="null">
        <ng-container *nzModalContent>
            <div class="container">
                <div class="row justify-content-center align-items-center vh-90">
                    <div class="col-md-8">
                        <div class="login-container">
                            <h2 class="text-center mb-4">Login</h2>
                            <form (ngSubmit)="onSubmit()" class="d-flex flex-column">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <!-- <input type="email" id="email" [ngModel]="credentials.email" name="email"
                                        class="form-control" placeholder="Enter Email" required> -->
                                    <select id="email" [(ngModel)]="credentials.email" name="email" class="form-control"
                                        required>
                                        <option value="admin@gmail.com">admin&#64;gmail.com</option>
                                        <option value="client@gmail.com">client&#64;gmail.com</option>
                                        <!-- Ajoutez d'autres options au besoin -->
                                    </select>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="mot_de_passe">Password</label>
                                    <input type="password" id="mot_de_passe" [ngModel]="credentials.mot_de_passe"
                                        name="mot_de_passe" class="form-control" placeholder="Enter Password" required>
                                </div>
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-primary btn-block ghost-button">Se
                                        Connecter</button>
                                </div>
                            </form>

                        </div>
                        <div class="text-center mt-3">
                            <p class="mb-0">Don't have an account? <a href="#!" class="text-primary fw-bold">Sign Up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </ng-container>
    </nz-modal>
</div>