<div class="section-title">
    <h2>Saisie depense</h2>
</div>
<form [formGroup]="depenseForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <nz-form-item>
        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nomErrorTpl">
            <input type="text" nz-input formControlName="designation" placeholder="Désignation" />
            <ng-template #nomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez saisir votre nom!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nomErrorTpl">
            <input type="number" nz-input formControlName="montant_total" placeholder="Montant" />
            <ng-template #nomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez saisir votre montant total!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nomErrorTpl">
            <input type="text" nz-input formControlName="mode_paiement" placeholder="Mode de Paiement" />
            <ng-template #nomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez saisir votre mode de paiement!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block ghost-button" [disabled]="!depenseForm.valid">
            <span *ngIf="!loading">Create Service</span>
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
    </div>
</form>