<div class="section-title">
    <h2>Ajout Utilisateur</h2>

</div>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="needs-validation">


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Nom</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nomErrorTpl">
            <input nz-input formControlName="nom" placeholder="Nom" />
            <ng-template #nomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez saisir votre nom!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Prénom</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="prenomErrorTpl">
            <input nz-input formControlName="prenom" placeholder="Prénom" />
            <ng-template #prenomErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez saisir votre prénom!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Email</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
            <input nz-input formControlName="email" placeholder="Email" type="email" />
            <ng-template #emailErrorTpl let-control>
                @if (control.errors?.['email']) {
                L'adresse e-mail n'est pas valide!
                }
                @if (control.errors?.['required']) {
                Veuillez saisir votre adresse e-mail!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Mot de passe</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Veuillez entrer votre mot de passe!">
            <input nz-input type="password" formControlName="mot_de_passe" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Confirmer le mot de passe</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
            <input nz-input type="password" formControlName="confirm" placeholder="Confirmer votre mot de passe" />
            <ng-template #passwordErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez confirmer votre mot de passe!
                }
                @if (control.errors?.['confirm']) {
                Les mots de passe ne correspondent pas!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Type d'utilisateur</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="typeUtilisateurErrorTpl">
            <input nz-input formControlName="type_utilisateur" placeholder="Type d'utilisateur" />
            <ng-template #typeUtilisateurErrorTpl let-control>
                @if (control.errors?.['required']) {
                Veuillez sélectionner le type d'utilisateur!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">Soumettre</button>
            <button nz-button (click)="resetForm($event)">Réinitialiser</button>
        </nz-form-control>
    </nz-form-item>
</form>