<div class="section-title">
    <h2>Liste des rendez-vous</h2>
</div>
<p>

    Ajout rendez-vous:
    <button type="button" class="btn btn-outline-success" ngbTooltip="Cliquez ici pour ajouter un rendez-vous"
        (click)="openModal('addRdv')">
        <i class="bi bi-plus-lg"></i>
    </button>
</p>


<!-- Modal content -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Nouveaux rendez-vous</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <ng-container *ngIf="modalContent === 'calendar'; else otherContent">

        </ng-container>
        <ng-template #otherContent>
            <app-rendezvous></app-rendezvous>
        </ng-template>
    </div>
</ng-template>
<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th nzCustomFilter>
                Date de début
                <nz-filter-trigger [(nzVisible)]="visibleDateDebut" [nzActive]="searchValueDateDebut.length > 0"
                    [nzDropdownMenu]="menuDateDebut">
                    <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
                Nom
                <nz-filter-trigger [(nzVisible)]="visibleNom" [nzActive]="searchValueNom.length > 0"
                    [nzDropdownMenu]="menuNom">
                    <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
            </th>
            <th>
                etat
            </th>
            <th>
                Fiche
            </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td>{{ data._id }}</td>
            <td>{{ data.taches[0].date_debut }}</td>
            <td>{{ data.taches[0].id_employee.id_utilisateur.nom }}</td>
            <td>
                <span *ngIf="data.etat === 1" class="badge text-bg-primary">non payee</span>
                <span *ngIf="data.etat === 51" class="badge text-bg-success">paye</span>
            </td>
            <td><a [routerLink]="['/client/rendezvous', data._id]">Voir la fiche</a></td>
        </tr>
    </tbody>
</nz-table>

<nz-dropdown-menu #menuDateDebut="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Recherche" [(ngModel)]="searchValueDateDebut" />
            <button nz-button nzSize="small" nzType="primary" (click)="searchDateDebut()"
                class="search-button">Recherche</button>
            <button nz-button nzSize="small" (click)="resetDateDebut()">Réinitialiser</button>
        </div>
    </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuNom="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Recherche" [(ngModel)]="searchValueNom" />
            <button nz-button nzSize="small" nzType="primary" (click)="searchNom()"
                class="search-button">Recherche</button>
            <button nz-button nzSize="small" (click)="resetNom()">Réinitialiser</button>
        </div>
    </div>
</nz-dropdown-menu>