<div class="inner-content">
    <!-- Première rangée pour la charte -->
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center"> <!-- Utiliser une nouvelle rangée centrée -->

                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-header">
                            Total Chiffre d’affaires
                        </div>
                        <div class="card-body">
                            <h4>{{ financeData?.entree }} Ariary</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-header">
                            Total Depense
                        </div>
                        <div class="card-body">
                            <h4>{{ financeData?.sortie }} Ariary</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-header">
                            Fond disponible
                        </div>
                        <div class="card-body">
                            <h4>{{ financeData?.reste }} Ariary</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr />
    <nz-spin [nzSpinning]="loading" [nzTip]="'Chargement en cours...'">
        <div class="row">
            <div class="col-md-8">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="myChart2"></canvas>
            </div>

            <hr />

            <!-- Deuxième rangée pour les cartes -->

        </div>
    </nz-spin>
    <!-- <div class="row">
        <div class="col-md-6">
            <canvas id="myChart2"></canvas>
        </div>
    </div> -->