<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="row php-email-form">
    <!-- Choices -->

    <div class="mb-3">
        <label for="remarque" class="form-label">Remarque:</label>
        <input type="text" id="etat" formControlName="remarque" class="form-control">
    </div>
    <div formArrayName="choix" class="row g-3">


        <h4>Choix <button type="button" class="btn btn-secondary me-2" (click)="addChoiceRow()"><i
                    class="bi bi-plus"></i></button></h4>
        <hr>
        <div *ngFor="let choice of getChoixControls(); let i = index" [formGroupName]="i" class="col-md-12 mb-3">
            <!-- Service ID -->
            <div class="row g-3">

                <!-- Service ID -->
                <div class="col-md-4 mb-2">
                    <label for="id_service" class="form-label">Service ID:</label>
                    <select class="form-select" id="id_service" formControlName="id_service"
                        aria-label="multiple select example">
                        <ng-container *ngFor="let option of listOfSelectedValue">
                            <option [value]="option._id">{{ option.designation }}</option>
                        </ng-container>
                    </select>

                </div>

                <!-- Employee ID -->
                <div class="col-md-4 mb-2">
                    <label for="id_employee" class="form-label">Employee ID:</label>
                    <select class="form-select" id="id_employee" formControlName="id_employee"
                        aria-label="multiple select example">
                        <ng-container *ngFor="let option of listOfSelectedValueEmp">
                            <option [value]="option._id">{{ option.designation }}</option>
                        </ng-container>
                    </select>
                </div>

                <div class="col-md-2 mb-2 d-flex align-items-end">
                    <button type="button" class="btn btn-secondary" (click)="removeChoiceRow(i)"><i
                            class="bi bi-dash-lg"></i></button>
                </div>

            </div>

        </div>
        <hr>
    </div>

    <!-- Date and Time -->
    <div class="mb-3">
        <label for="date_heure" class="form-label">Date and Time:</label>
        <input type="datetime-local" id="date_heure" formControlName="date_heure" class="form-control">
    </div>

    <!-- State -->
    <!-- State -->
    <div class="mb-3">
        <input type="hidden" id="etat" formControlName="etat" class="form-control">
    </div>


    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>